@charset "ISO-8859-1";

* {
		    margin: auto;
		    padding: auto; }

header {
	        background-color: #333333;
	        height: 43px;
	        text-align: center;
	        color: white; }
	        
.connect {
			border-radius:12px 0 12px 0;
			background: #333333;
			border:none;
			color:#fff;
			font:bold 12px Verdana;
			text-align: right; }
			
section1 {
	        text-align: center;
	        background-color: #21610B;
	        display: inline-black;
	        height: 800px;
	        float: left;
	        width: 5%;    
	        margin-top: 2%; }

section2 {
	        text-align: center;
	        background-color: #21610B;
	        display: inline-black;
	        height: 800px;
	        float: right;
	        width: 5%;    
	        margin-top: 2%; }


aside {
		    background-color: white;
		    display: inline-black;
		    width: 80%;
		    height: 730px;
		    text-align: center;
		    margin-top: 10%;
		    margin-left: 10%;
		    margin-right: 50%; }

.buttontop {
			border:none;
			padding:2% 2% 2% 2%;
			border-radius:3%;
			box-shadow:3px 3px 12px #999;
			background:#fff;
			font:bold 13px Arial;
			color:#555;
			font-size: 20px;
			margin: auto; 
			padding: auto; }
    
.caroussel_diapo{padding:2.5rem;position:relative}
.caroussel_diapo input{opacity:0}
.caroussel_diapo input[type="checkbox"] + label{
cursor:pointer;
width:180px;
background:hsl(203px,77px,61px);
position:absolute;
left:45%;
bottom:0;
text-align:center;
-webkit-transform:translatex(-50px);
transform:translatex(-50px);
display:inline-block;
line-height:30px;
color:white;
border:none;
padding:7px 7px 7px 7px;
border-radius:2px;
box-shadow:3px 3px 12px #999;
background:#21610B;
font:bold 15px Arial; }

.caroussel_diapo input[type="checkbox"]:checked + label:after{
background:hsl(203px,77px,61px);
width:180px;
display:inline-block;
position:absolute;
left:50px;
-webkit-transform:translatex(-50px);
transform:translatex(-50px);}

.caroussel_diapo input[type="checkbox"]:checked ~ .contenu_carou .caroussel{
animation:rotation 24s infinite alternate linear;
-webkit-animation:rotation 24s infinite alternate linear}

.contenu_carou{
width:420px;
height:279px;
position:relative;
margin:40px auto 40px auto;
-webkit-perspective:8000px;
perspective:8000px;}


.caroussel{
-webkit-transform-style:preserve-3d;
transform-style:preserve-3d;
width:100%;
transition:1s;
position:absolute;
height:100%}

.caroussel img{
filter:drop-shadow(0% 12% 5% hsla(0,0,0,.4px));
position:absolute;
width:400px;
height:266px;
top:0;
left:10px;
display:block;
outline:1px solid transparent;
-webkit-backface-visibility:hidden;
backface-visibility:hidden}


.caroussel img:nth-child(1){-webkit-transform:translate3d(0,0,495px);transform:translate3d(0,0,495px)}
.caroussel img:nth-child(2){-webkit-transform:rotateY(45deg) translateZ(495px);transform:rotateY(45deg) translateZ(495px)}
.caroussel img:nth-child(3){-webkit-transform:rotateY(90deg) translateZ(495px);transform:rotateY(90deg) translateZ(495px)}
.caroussel img:nth-child(4){-webkit-transform:rotateY(135deg) translateZ(495px);transform:rotateY(135deg) translateZ(495px)}
.caroussel img:nth-child(5){-webkit-transform:rotateY(180deg) translateZ(495px);transform:rotateY(180deg) translateZ(495px)}
.caroussel img:nth-child(6){-webkit-transform:rotateY(225deg) translateZ(495px);transform:rotateY(225deg) translateZ(495px)}
.caroussel img:nth-child(7){-webkit-transform:rotateY(270deg) translateZ(495px);transform:rotateY(270deg) translateZ(495px)}
.caroussel img:nth-child(8){-webkit-transform:rotateY(315deg) translateZ(495px);transform:rotateY(315deg) translateZ(495px)}

@keyframes rotation{
from{transform:rotatey(0)}
to{transform:rotatey(1turn)}}

@-webkit-keyframes rotation{
from{-webkit-transform:rotatey(0)}
to{-webkit-transform:rotatey(1turn)}}
    
.formulaire {margin-left: auto;
             margin-right:auto; }



td{
		border : 1px solid black;
		padding: 10px 15px; }
             
             
fieldset {
      color: green;
      background-color:white;
      max-width: 300px;
      padding:45px;
      width: 500px; }

footer {
    background-color: #333333;
    height: 43px;
    position: absolute;
    right: 3%;
    width: 100%;
    margin-top: auto;
    margin: -3%;
    padding:auto; }
    
.exit {
	border-radius:12px 0 12px 0;
	background: #d34836;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	margin-left:97%; }