<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
         
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header-null class="header-null">
    		<header class="header">
    			<h1>SAINT PAUL DU TERRAY</a></h1>
    			<menu-null class="menu-null">
    				<div class="menu">
    					<a href="/blogstpaul" class="menu_link">Index</a>
    					<a href="#" class="menu_link">Manifestation</a>
    					<a href="#" class="menu_link">Facturation</a>
    					<a href="#" class="menu_link">Contact</a>
    				</div>
    			</menu-null>
    		</header>
		</header-null>
		<noscreen/>
        <!-- Ts les contenus de body dns 1 div bootstrap -->
        <!-- Block body a l'intérieur d'1 container, chaque pages qui sera dans ce bloc
        le contenu sera contenu -->
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        <footer class="footer">
		Copyright &copy; 2019 Saint Paul du Terray
		</footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
