<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SAINT PAUL DU TERRAY{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <footer class="footer">
		Copyright &copy; 2019 Saint Paul du Terray
</footer>
    </body>
</html>
