{# Héritage du contenu base#}
{% extends 'base.html.twig' %}

{% block body %}
    {#Modifier ce qui se trouve dans le bloc body, contenu doit être placé dans 1 certain bloc#}
    {#Surcharge de blocks: On projète du contenu dns les différents blocks du template#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8" />
	<link href="css/styly.css" rel="stylesheet" />
	<title>SAINT PAUL DU TERRAY</title>
</head>

<body class="body">

<main class="main">
		<left class="left">
			<h2>Simulation de coût d'un voyage pour enfant :</h2>
			<p>
				
			</p>
			<br />
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</left>

	<noscreen/>

		<right class="right">
			
		</right>
</main>


</body>
	

{% endblock %}